.slide {
    scroll-snap-align: start;
  
    width: 100vw;
    flex: 0 0 100vh;

    display: flex;
    flex-direction: column;

    background-color: var(--bgCol);
    color: var(--textCol);

    padding: 5rem;

    & > h1 {
        font-size: 2.2em;
        padding: 0.5rem;
    }

    & .slide-description {
        font-size: 1.2em;
        padding: 0.5rem;

        display: flex;
    }

    & .slide-content {
        flex: 1;
        display: flex;
        gap: 0.5rem;

        & > * {
            flex: 1;
        }

        & .slide-img-container {
            flex: 1.25;
        }
    }
}